* {
  font-family: verdana;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

h3 {
  font-size: 21px;
  font-weight: 300;
  color: gray;
}

body {
  background-color: black;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#copywright {
  text-align: right;
  color: gray;
}
